- provide(:title, "Home")

.row
  .col-lg-12
    %h1.page-header
      Suggestion System
.row
  .col-lg-12
    %p
      This tool is still being tested, so expect the worst. Always wear a helment, don't jump out of moving cars, and don't swim 
      in lakes with zebra muscles.

.row
  .col-lg-12
    %h2
      Monthly Themes
    %table.table.table-bordered
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#800080"}
              %strong Safety
        %td
          %font{:color => "#800080"} June
        %td
          %font{:color => "#800080"} November
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#3366ff"}
              %strong Quality
        %td
          %font{:color => "#3366ff"} October
        %td
          %font{:color => "#3366ff"} May
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#808000"}
              %strong Cost
        %td
          %font{:color => "#808000"} January
        %td
          %font{:color => "#808000"} August
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#800000"}
              %strong Delivery
        %td
          %font{:color => "#800000"} March
        %td
          %font{:color => "#800000"} July
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#ff6600"}
              %strong Morale
        %td
          %font{:color => "#ff6600"} December
        %td
          %font{:color => "#ff6600"} February
      %tr
        %td
          %p{:align => "right"}
            %font{:color => "#339966"}
              %strong Environment
        %td
          %font{:color => "#339966"} April
        %td
          %font{:color => "#339966"} September
