%header.header-image
  .headline
    .container
      %h1 Continuous. Improvement.
      %h2 Gather your company's best ideas in the cloud.

/ Page Content
.container
  %hr.featurette-divider/
  / First Featurette
  #about.featurette
    = image_tag('bulb.png', class: "featurette-image img-circle img-responsive pull-right")
    %h2.featurette-heading
      KaizenStorm
      %span.text-muted Is the Idea Implementation Tool
    %p.lead KaizenStorm has only one purpose. Let no idea go undiscussed. Collect and view ideas from every level of your organization.
  %hr.featurette-divider/
  / Second Featurette
  #services.featurette
    = image_tag('employees.png', class: "featurette-image img-circle img-responsive pull-left")
    %h2.featurette-heading
      Together we can
      %span.text-muted Utilize Everything
    %p.lead KaizenStorm’s easy to use interface, motivational reward system, and company-wide accessibility can help your business leverage your most valuable asset- your people.
  %hr.featurette-divider/
  / Third Featurette
  #contact.featurette
    = image_tag('yama.png', class: "featurette-image img-circle img-responsive pull-right")
    %h2.featurette-heading
      The Third Heading
      %span.text-muted Will Seal the Deal.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider/
