#footer
  .container
    %ul.nav.navbar-nav.muted.navbar-right
      %li
        %a{:href => "/about"} About Us
      %li
        %a{:href => "/privacy"} Privacy Policy
    %p.text-muted
      \&copy; KaizenStorm #{Time.now.year}